@mixin flex($direction:row,$justify:start,$align:start,$gap:0rem){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}
.app{
    @include flex(row);
    @media(max-width:768px){
        @include flex(column);
    }
}