<section class="edit">
  <a routerLink="/" class="navi">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    <p>Go Back</p>
  </a>

<section class="note">
    <h2>Title</h2>
    <p>{{note?.title}}</p>
    <h2>Content</h2>
    <p>{{note?.content}}</p>
    <h2>Tags</h2>
    <p>{{note?.tags}}</p>
    <button (click)="handleEdit()">Edit</button>
</section>
@if(showEdit() == true){
    <section class="modal-backdrop" >
   <div class="modal">
     <form [formGroup]="editNoteForm" (ngSubmit)="onSubmit()">
    <h2>Edit Note</h2>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" />
        @if((editNoteForm.get('title')?.invalid && isSubmitted )|| editNoteForm.get('title')?.invalid && editNoteForm.get('title')?.touched){
            <div class="error">
                Title is required with a minimum of 3 characters.
            </div>
        }
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" formControlName="content"></textarea>
        @if((editNoteForm.get('content')?.invalid && isSubmitted )|| editNoteForm.get('content')?.invalid && editNoteForm.get('content')?.touched){
            <div class="error">
                Content is required with a minimum of 3 characters.
            </div>
        }
    </div>
    <div class="form-group">
        <label for="tag">Tag</label>
        <input id="tag" formControlName="tag" type="text" />
        @if((editNoteForm.get('title')?.invalid && isSubmitted )|| editNoteForm.get('title')?.invalid && editNoteForm.get('title')?.touched){
            <div class="error">
                Tag is required with a minimum of 3 characters.
            </div>
        }
    </div>
       <div class="modal-actions">
      <button type="button" class="cancel" (click)="closeModal()">Cancel</button>
      <button type="submit" [disabled]="editNoteForm.invalid">Update Note</button>
    </div>
    </form>

   </div>
</section>
}
</section>