/* You can add global styles to this file, and also import other style files */
// @use 'theme' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --icon-color: #ffffff;
  --navbar-bg: #f6f6f6;
}

// Dark theme
.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --icon-color: #000000;
  --navbar-bg: rgb(43, 42, 42);;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success,
.snackbar-error{
    --mat-snack-bar-button-color: white;
}
.mat-mdc-snack-bar-action {
    background-color: rgba(white,0.2);
}

.snackbar-success{
    --mdc-snackbar-container-color :#4caf50;
}
.snackbar-error{
    --mdc-snackbar-container-color :rgb(218, 83, 83);
}